/*
    Created on : Dec 15, 2015, 4:50:52 PM
    Author     : Mershack Okoe
*/

body{

}

.header-container {
  margin: 0;
  margin-bottom: 5px;
  /*border-top: 1px solid gray;
  border-bottom: 1px solid black;*/
  background-color: #62ea77;
  padding: 5px;
}

.wrapper {
  min-width: 800px;
  max-width:1200px;
  margin: 0 auto !important;
}

.logo {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.header{
  min-width: 800px;
  max-width:1200px;
  margin: 0 auto;
}

.nav{
  margin: auto;
  height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top:  10px;
  flex-direction: row-reverse;

}

.nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.nav a:hover, .nav a:active{
    color:red;
    border-bottom: 2px solid red;
}



.headerItem{
    margin-top: 20px;
    margin-left: 15px;
    min-width: 50px;
    text-decoration: none;
  }

#headerItems{
    padding-top: 10px;
    float: right;
}

.footerItems{
    /*margin-left:20px;*/
    margin-right: 10px;
    margin-bottom: 20px;
}

.footerItem {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.footerItem a:hover {
  color:red;
  border-bottom: 2px solid red;
}


.footer{
    min-width: 800px;
    max-width:1200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-container {
  clear: both;
  background-color: #584545;
  color: white;
}

.copyright{
    min-height: 20px;
    color: white;
    font-size: 0.8em;
    margin: 0 auto;
    justify-content: center;
}


.belowHeaderImage img{
    width:1200px;
    height: 300px;
}

ul {
    list-style-image: url('images/bullet-image2.png');
}
li{
    margin-top:10px;
}
#header img{
    height: 100px;
}

#mainContent{
    margin: 0px;
}
.email{
    color:#000d33;
}
.rightDiv{
    float: right;
}
.leftDiv{
   // width: 300px;
}
.serviceContainer{
   // width: 1100px;
}
.servicelist{
    float: left;
    margin-right: 100px;
}

.resourcelist{
    float: left;
    margin-right: 6 0px;
}

.clearFloat{
    clear: both;
}
.serviceListImg{
    margin-left: 5px;
    //margin-right: 50px;
}
